<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<div class="container">
    <mat-form-field appearance="fill" name="homeTeamField" ngDefaultControl>
        <mat-label>Home team</mat-label>
        <mat-select (selectionChange)="homeTeamz($event)">
          <mat-option *ngFor="let team of teams" [value]="team">
            {{team.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <mat-form-field class="example-full-width"> -->
        <mat-label>{{match.teamhomegoals}}</mat-label>
        <!-- <input [(ngModel)]="match.teamhomegoals" matInput #message maxlength="1"> -->
      <!-- </mat-form-field> -->

</div>
 <!-- <div *ngFor="let detail of homeTeamPlayers; index as i">
  
  <mat-form-field appearance="fill" name="player" ngDefaultControl>
    <mat-label>Player {{i+1}}</mat-label>
    <mat-select id="lol" #lol (selectionChange)="setPlayer($event, i)">
      <mat-option  *ngFor="let player of htPlayers" [value]="player">
        {{player.name}} {{player.surname}}
      </mat-option> 
      <mat-optgroup *ngFor="let group of htPlayers; index as i" [label]="group.name">
        <mat-option *ngFor="let player of htPlayers[i].players" [value]="player">
          {{player.name}} {{player.surname}}
        </mat-option>
      </mat-optgroup>
    </mat-select>
    </mat-form-field>
  
</div> -->
<button (click)="test()">lol</button>

<table border="1">
  <thead>
    <tr>
      <td>Player</td>
      <td>Goals</td>
      <td>Assists</td>
      <td>Y. Card</td>
      <td>R. Card</td>
      <td>Minutes</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let detail of homeTeamPlayers; index as i">
      <td>
        <mat-form-field appearance="fill" name="player" ngDefaultControl>
          <mat-label>Player {{i+1}}</mat-label>
          <mat-select id="lol" #lol (selectionChange)="setPlayer($event, i)">
            <!-- <mat-option  *ngFor="let player of htPlayers" [value]="player">
              {{player.name}} {{player.surname}}
            </mat-option>  -->
            <mat-optgroup *ngFor="let group of htPlayers; index as i" [label]="group.name">
              <mat-option *ngFor="let player of htPlayers[i].players" [value]="player">
                {{player.name}} {{player.surname}}
              </mat-option>
            </mat-optgroup>
          </mat-select>
          </mat-form-field>
      </td>
      <td>
        <div style="float: left" *ngIf="detail.goals > 0">
          <i (click)="deleteGoal(detail, i, firstChild)" class="fa fa-minus"></i>
        </div>
        <div id="haha" #haha style="float: left">
          
        </div>
        <div style="float: left" *ngIf="homeTeamPlayers[i].id_player != null">
          <i (click)="addGoal(detail, i, firstChild)" class="fa fa-plus"></i>
        </div>
        

      </td>
      <td>
        <div style="float: left" *ngIf="detail.assists > 0">
          <i (click)="deleteAssist(detail, i, secondChild)" class="fa fa-minus"></i>
        </div>
        <div id="haha2" #haha2 style="float: left"></div>
        <div style="float: left" *ngIf="homeTeamPlayers[i].id_player != null">
          <i (click)="addAssist(detail, i, secondChild)" class="fa fa-plus"></i>
        </div>
      </td>


      <td>
        <div *ngIf="homeTeamPlayers[i].id_player != null">
        <div *ngIf="detail.ycards == 0">
          <img (click)="yellowCard(detail)" id="ycard" src="assets/img/ycard.jpg">
        </div>
        <div *ngIf="detail.ycards > 0">
            <img (click)="yellowCard(detail)" id="gotYcard" src="assets/img/ycard.jpg">
        </div>
      </div>
      </td>

      <td>
        <div *ngIf="homeTeamPlayers[i].id_player != null">
          <div *ngIf="detail.rcards == 0">
            <img (click)="redCard(detail)" id="rcard" src="assets/img/redcard.png">
          </div>
          <div *ngIf="detail.rcards > 0">
            <img (click)="redCard(detail)" id="gotRcard" src="assets/img/redcard.png">
          </div>
        </div>
      </td>
      <td>
        <div *ngIf="homeTeamPlayers[i].id_player != null">
          <div style="width: 30px" class="minutesplayed">
          <mat-form-field>
            <input matInput pattern="[1-9][0-9]{2}" maxlength="3" [(ngModel)]="detail.minutesplayed">
          </mat-form-field>
        </div>
        </div>

      </td>
    </tr>
  </tbody>

</table>
</html>
