#ycard:hover {
    opacity: 1.0;
}

#ycard{
    width: 20px; 
    height: 20px; 
    opacity: 0.2;
}

#gotYcard {
    width: 20px;
    height: 20px
}

#rcard:hover {
    opacity: 1.0;
}

#rcard{
    width: 20px;
    height: 20px;
    opacity: 0.2;
}

#gotRcard{
    width: 20px;
    height: 20px;
}

::ng-deep .minutesplayed .mat-form-field-underline {
    display: none;
}

.hometeamscorehalf {
     flex: 3;
}

.hometeamscorehalf:nth-of-type(2) {
    flex: 1;
}

.secondteamscorehalf {
    display: inline-block;
    width: 40%;
}

.showscores {
    width: 20%;
    display: inline-block;
}

.firstteamplayers {
    flex: 20;
}

.firstteamplayers:nth-of-type(2) {
    flex: 1;
}




#haha {
    word-wrap: break-word;
    max-width: 100px;
}

#haha2 {
    word-wrap: break-word;
    max-width: 100px;
}

#haha3 {
    word-wrap: break-word;
    max-width: 100px;
}

#haha4 {
    word-wrap: break-word;
    max-width: 100px;
}

.playersstyling {
    float: left; 
    width: 10px; 
}

.playerwrapper {
    display: flex;
}

.container {
    display: flex;
}

.hometeamscorenumber {
    /* margin-left: 450px; */
    /* vertical-align: top; */
    padding-top: 100px;
}
