<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
<body>
<form [formGroup]="gameForm">
<div class="container">
  <div class="hometeamscorehalf">
    <div style="margin-left: 150px;">
    <mat-form-field appearance="fill">
        <mat-label>Home team</mat-label>
        <mat-select required formControlName="teamHomeName"  [(value)]="homeTeam" (selectionChange)="pickTeam($event, homeTeam, htPlayers, homeTeamPlayers, homeTeamPlayersSubscription)">
          <mat-option [disabled]="awayTeam.name == team.name" *ngFor="let team of teams" [value]="team">
            {{team.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      </div>
      <!-- <mat-form-field class="example-full-width"> -->
        
        <!-- <input [(value)]="match.teamhomegoals" matInput #message maxlength="1"> -->
      <!-- </mat-form-field> -->
      
        </div>
        <div class="hometeamscorehalf">
          <div style="text-align: left;">
          <mat-label class="mat-display-1">{{match.teamHomeGoals}}</mat-label>
          <mat-label class="mat-display-1">:</mat-label>
          <mat-label class="mat-display-1">{{match.teamAwayGoals}}</mat-label>
          </div>
          <div>
            <mat-label>Fixture</mat-label>
            <input formControlName="fixture"  (change)="convertFixtureToInt($event)" matInput pattern="^([1-9][0-9]{0,1})$" maxlength="2">
          </div>
        </div>
    <div class="hometeamscorehalf">
      <div style="margin-left: 100px;">
      <mat-form-field appearance="fill"  ngDefaultControl>
        <mat-label>Away team</mat-label>
        <mat-select  formControlName="teamAwayName" [(value)]="awayTeam" (selectionChange)="pickTeam($event, awayTeam, atPlayers, awayTeamPlayers, awayTeamPlayersSubscription)">
          <mat-option [disabled]="homeTeam.name == team.name" *ngFor="let team of teams" [value]="team">
            {{team.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      </div>
    </div>
</div>
<div class="playerwrapper">
  <div class="firstteamplayers">
<table border="1" formArrayName="items">
  <thead>
    <tr>
      <td>Player</td>
      <td>Goals</td>
      <td>Assists</td>
      <td>Y. Card</td>
      <td>R. Card</td>
      <td>Minutes</td>
      <td>Position</td>
    </tr>
  </thead>
  <tbody>
    <!-- <tr *ngFor="let detail of homeTeamPlayers; index as i"> -->
      <tr *ngFor="let item of gameForm.controls.items.controls; let i=index" [formGroupName]="i">
      <td>
        <mat-form-field appearance="fill" name="player" ngDefaultControl>
          <mat-label>Player {{i+1}}</mat-label>
          <mat-select required  formControlName="name" id="lol" #lol>
            <mat-optgroup *ngFor="let group of htPlayers; index as j" [label]="group.name">
              <mat-option (click)="setPlayer(homeTeam, i, j, g, homeTeamPlayers, 'items', htPlayers)"  [disabled]="htPlayers[j].players[g].enabled == false" *ngFor="let player of htPlayers[j].players; let g=index" [value]="player">
                {{player.player.name}} {{player.player.surname}}
              </mat-option>
            </mat-optgroup>
          </mat-select>
          </mat-form-field>
      </td>
      <td>
        <div>
          <div> 
        <div class="playersstyling" *ngIf="homeTeamPlayers[i]?.goals > 0">
          <i (click)="deleteGoal(homeTeamPlayers[i], i, firstChild,  homeTeam)" class="fa fa-minus"></i>
        </div>
        <div id="haha" #haha style="float: left">
          
        </div>
        <div class="playersstyling" *ngIf="homeTeamPlayers[i]?.id_player != null">
          <i (click)="addGoal(homeTeamPlayers[i], i, firstChild, homeTeam)" class="fa fa-plus"></i>
        </div>
        </div>
      </div>

      </td>
      <td>
        <div class="playersstyling" *ngIf="homeTeamPlayers[i]?.assists > 0">
          <i (click)="deleteAssist(homeTeamPlayers[i], i, secondChild)" class="fa fa-minus"></i>
        </div>
        <div id="haha2" #haha2 style="float: left"></div>
        <div class="playersstyling" *ngIf="homeTeamPlayers[i]?.id_player != null">
          <i (click)="addAssist(homeTeamPlayers[i], i, secondChild)" class="fa fa-plus"></i>
        </div>
      </td>


      <td>
        <div *ngIf="homeTeamPlayers[i]?.id_player != null">
        <div *ngIf="homeTeamPlayers[i]?.ycards == 0">
          <img (click)="yellowCard(homeTeamPlayers[i])" id="ycard" src="assets/img/ycard.jpg">
        </div>
        <div *ngIf="homeTeamPlayers[i]?.ycards > 0">
            <img (click)="yellowCard(homeTeamPlayers[i])" id="gotYcard" src="assets/img/ycard.jpg">
        </div>
      </div>
      </td>

      <td>
        <div *ngIf="homeTeamPlayers[i]?.id_player != null">
          <div *ngIf="homeTeamPlayers[i]?.rcards == 0">
            <img (click)="redCard(homeTeamPlayers[i])" id="rcard" src="assets/img/redcard.png">
          </div>
          <div *ngIf="homeTeamPlayers[i]?.rcards > 0">
            <img (click)="redCard(homeTeamPlayers[i])" id="gotRcard" src="assets/img/redcard.png">
          </div>
        </div>
      </td>
      <td>
        <div *ngIf="homeTeamPlayers[i]?.id_player != null">
          <div style="width: 30px" class="minutesplayed">
          <mat-form-field>
            <input formControlName="minutes" required (change)="convertMinutesToInt($event, homeTeamPlayers[i])" matInput pattern="^([1-9][0-9]{0,2})$" maxlength="3">
          </mat-form-field>
        </div>
        </div>

      </td>
      <td>
        <div *ngIf="homeTeamPlayers[i]?.id_player != null">
          <div>
            <mat-select required formControlName="position" [(value)]="homeTeamPlayers[i].position" id="position" #position>
                <mat-option  *ngFor="let position of positions" [value]="position.value">
                  {{position.value}}
                </mat-option>
            </mat-select>
          </div>
        </div>
      </td>
    </tr>
  </tbody>

</table>
<i *ngIf="homeTeamPlayers.length > 11" (click)="deleteSubstitutePlayer(homeTeamPlayers)" class="fa fa-minus"></i>
<i *ngIf="homeTeamPlayers.length < 16" (click)="addSubstitutePlayer(homeTeamPlayers, homeTeam)" class="fa fa-plus"></i>
</div>
<div class="firstteamplayers">

</div>
<div class="firstteamplayers">
<table border="1" formArrayName="itemsSecondTeam" style="float: left;">
  <thead>
    <tr>
      <td>Player</td>
      <td>Goals</td>
      <td>Assists</td>
      <td>Y. Card</td>
      <td>R. Card</td>
      <td>Minutes</td>
      <td>Position</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of gameForm.controls.itemsSecondTeam.controls; let i=index" [formGroupName]="i">
      <td>
        <mat-form-field appearance="fill" name="player" ngDefaultControl>
          <mat-label>Player {{i+1}}</mat-label>
          <mat-select required formControlName="name" id="lol" #lol>
            <mat-optgroup *ngFor="let group of atPlayers; index as j" [label]="group.name">
              <mat-option (click)="setPlayer(awayTeam, i, j, g, awayTeamPlayers, 'itemsSecondTeam', atPlayers)" [disabled]="atPlayers[j].players[g].enabled == false" *ngFor="let player of atPlayers[j].players; let g=index" [value]="player">
                {{player.player.name}} {{player.player.surname}}
              </mat-option>
            </mat-optgroup>
          </mat-select>
          </mat-form-field>
      </td>
      <td>
        <div>
          <div>
        <div class="playersstyling" *ngIf="awayTeamPlayers[i]?.goals > 0">
          <i (click)="deleteGoal(awayTeamPlayers[i], i, thirdChild, awayTeam)" class="fa fa-minus"></i>
        </div>
        <div id="haha3" #haha3 style="float: left">
          
        </div>
        <div class="playersstyling" *ngIf="awayTeamPlayers[i]?.id_player != null">
          <i (click)="addGoal(awayTeamPlayers[i], i, thirdChild, awayTeam)" class="fa fa-plus"></i>
        </div>
        </div>
      </div>

      </td>
      <td>
        <div class="playersstyling" *ngIf="awayTeamPlayers[i]?.assists > 0">
          <i (click)="deleteAssist(awayTeamPlayers[i], i, fourthChild)" class="fa fa-minus"></i>
        </div>
        <div id="haha4" #haha4 style="float: left"></div>
        <div class="playersstyling" *ngIf="awayTeamPlayers[i]?.id_player != null">
          <i (click)="addAssist(awayTeamPlayers[i], i, fourthChild)" class="fa fa-plus"></i>
        </div>
      </td>


      <td>
        <div *ngIf="awayTeamPlayers[i]?.id_player != null">
        <div *ngIf="awayTeamPlayers[i]?.ycards == 0">
          <img (click)="yellowCard(awayTeamPlayers[i])" id="ycard" src="assets/img/ycard.jpg">
        </div>
        <div *ngIf="awayTeamPlayers[i]?.ycards > 0">
            <img (click)="yellowCard(awayTeamPlayers[i])" id="gotYcard" src="assets/img/ycard.jpg">
        </div>
      </div>
      </td>

      <td>
        <div *ngIf="awayTeamPlayers[i]?.id_player != null">
          <div *ngIf="awayTeamPlayers[i]?.rcards == 0">
            <img (click)="redCard(awayTeamPlayers[i])" id="rcard" src="assets/img/redcard.png">
          </div>
          <div *ngIf="awayTeamPlayers[i]?.rcards > 0">
            <img (click)="redCard(awayTeamPlayers[i])" id="gotRcard" src="assets/img/redcard.png">
          </div>
        </div>
      </td>
      <td>
        <div *ngIf="awayTeamPlayers[i]?.id_player != null">
          <div style="width: 30px" class="minutesplayed">
          <mat-form-field>
            <input required formControlName="minutes" matInput (change)="convertMinutesToInt($event, awayTeamPlayers[i])" pattern="^([1-9][0-9]{0,2})$" maxlength="3" [(value)]="awayTeamPlayers[i].minutesplayed">
          </mat-form-field>
        </div>
        </div>

      </td>
      <td>
        <div *ngIf="awayTeamPlayers[i]?.id_player != null">
          <div>
            <mat-select required formControlName="position" [(value)]="awayTeamPlayers[i].position" id="position2" #position2>
                <mat-option  *ngFor="let position of positions" [value]="position.value">
                  {{position.value}}
                </mat-option>
            </mat-select>
          </div>
        </div>
      </td>
    </tr>
  </tbody>

</table>
<i *ngIf="awayTeamPlayers.length > 11" (click)="deleteSubstitutePlayer(awayTeamPlayers)" class="fa fa-minus"></i>
<i *ngIf="awayTeamPlayers.length < 16" (click)="addSubstitutePlayer(awayTeamPlayers)" class="fa fa-plus"></i>
</div>
</div>
<button type="submit" (click)="onSubmit()">ELDO</button>
</form>
</body>
</html>
